<!-- MAIN ADVERTISMENT -->
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class='center' style='font-size: 45px;'>
              Welcome to SE Airlines!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="jumbotron">
                <h3>Search Results</h3>
                <!-- <ul class="list-group">
                  <li ng-repeat='flight in flights'>
                    <a href="#">{{flight}}</a>
                  </li>
                </ul> -->

                <div class="list-group" ng-repeat='flight in flights'>
                  <a href="#">{{flight.title}}</a>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- MAIN ADVERTISMENT -->
