<!-- MAIN ADVERTISMENT -->

<div class="banner">
    <div class="well book-flight">

        <div style="margin-left: 4%" class="ui grid">
            <div class="sixteen column row large">
                <!-- <div class="column"></div> -->
                <div class="fifteen wide column large">
                    <h3 class="ui header large">
                        <i class="bookmark large icon grey"></i>
                        Book a flight
                    </h3>
                </div>
            </div>

            <div class="seven wide column large">
                <div class="ui left icon input fluid large">
                    <i class="plane icon"></i>
                    <input
                    class="large" name="originAirports" id="originAirports" type="text"
                    placeholder="Departure airport" ng-model="selectedOrigin"
                    uib-typeahead="airport.airport for airport in originAirports | filter:$viewValue" 
                    class="form-control" , typeahead-on-select="SetOriginAirport($item.code)">
                </div>
            </div>

            <div class="six wide column large">
                <div class="ui left icon input cursor-pointer large">
                    <i class="calendar icon "></i>
                    <input class="large" placeholder="Departure date" ng-click="open1()" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                    />
                </div>
            </div>
        </div>

        <div style="margin-left: 4%" class="ui grid">

            <div class="seven wide column large">
                <div class="ui left icon input fluid large">
                    <i class="clockwise rotated plane icon"></i>
                    <input class="large" name="destinationAirports" id="destinationAirports" type="text" placeholder="Arrival airport" ng-model="selectedDestination" uib-typeahead="airport.airport for airport in destinationAirports | filter:$viewValue" class="form-control"
                        , typeahead-on-select="SetDestinationAirport($item.code)">
                </div>
            </div>

            <div class="six wide column large">
                <div class="ui left icon input cursor-pointer large">
                    <i class="calendar icon"></i>
                    <input class="large" placeholder="Returning date" ng-click="open2()" type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                </div>
            </div>
        </div>


        <button style="margin-left: 4%" type="button" class="ui button large blue space" id='btnSearch' ng-click='SearchFlights()'>
            <i class="search icon"></i> Search Flights
        </button>
    </div>
</div>

<!-- MAIN ADVERTISMENT -->


<!-- PROMOTIONAL OFFERS -->
<div style="overflow: auto" style="background-color: gray">

    <div class="ui grid space huge">
        <div class="column">

        </div>
        <div class="five wide column huge">
            <div class="ui header large">
                Check our new offers
            </div>
            <div style="font-size: 20px; color: gray">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>

        <div class="two wide column">

        </div>

        <div class="seven wide column huge">
            <div class="ui special cards fluid huge">
                <div class="ui card fluid huge">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Get this offer!</div>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{leftOffer || ''}}">
                    </div>
                    <div class="content">
                        <a class="header">New Cities</a>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i> 33 Clicks
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui grid space huge">
        <div class="column">

        </div>
        <div class="seven wide column huge">
            <div class="ui special cards fluid huge">
                <div class="ui card fluid huge">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Get this offer!</div>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{midOffer || ''}}">
                    </div>
                    <div class="content">
                        <a class="header">Unique Adventures</a>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i> 52 Clicks
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="column">

        </div> -->

        <div class="seven wide column huge">
            <div class="ui special cards fluid huge">
                <div class="ui card fluid huge">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Get this offer!</div>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{rightOffer || ''}}">
                    </div>
                    <div class="content">
                        <a class="header">Different Cultures</a>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i> 11 Clicks
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- PROMOTIONAL OFFERS -->
