<!-- MAIN ADVERTISMENT -->
  <div class="row">
    <div class="jumbotron banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class='center' style='font-size: 45px;'>
              Welcome to SE Airlines!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Book Travel</h3>

                <input name="originAirports"
                id="originAirports"
                type="text"
                placeholder="Flying From"
                ng-model="selectedOrigin"
                uib-typeahead="airport.airport for airport in originAirports | filter:$viewValue"
                class="form-control",
                typeahead-on-select="SetOriginAirport($item.code)">

                <input name="destinationAirports"
                id="destinationAirports"
                type="text"
                placeholder="Flying To"
                ng-model="selectedDestination"
                uib-typeahead="airport.airport for airport in destinationAirports | filter:$viewValue"
                class="form-control",
                typeahead-on-select="SetDestinationAirport($item.code)">

              <button type="button" class="btn btn-primary" id='btnSearch' ng-click='SearchFlights()'>Search Flights</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- MAIN ADVERTISMENT -->

<!-- PROMOTIONAL OFFERS -->
  <div class="row">
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
         <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Button</p>
         <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <img src="..." alt="...">
       <div class="caption">
         <h3>Thumbnail label</h3>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.Button</p>
         <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
       </div>
     </div>
   </div>
  </div>
<!-- PROMOTIONAL OFFERS -->
